.login {
    width: 100%;
    height: 100%;
    background: url('./images/login.png') no-repeat;
    background-size: cover;
    background-position: center;
    .login-header {
        display: flex;
        align-items: center;
        height: 80px;
        background-color: rgba(21, 20, 13, 0.5);
        img {
            width: 40px;
            height: 40px;
            margin: 0 15px 0 50px;
        }
        h1 {
            margin-bottom: 0;
            font-size: 30px;
            color: #fff;
        }
    }
    .login-content {
        width: 400px;   
        height: 300px;
        background-color: #fff;
        margin: 50px auto;
        padding: 20px 50px;
        h2 {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .login-form {
            .login-form-button {
                width: 100%;
            }
        }
    }
}
